html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

* {
  caret-color: transparent;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  position: relative;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  padding: 20px;
}

header {
  text-align: center;
}
header img {
  width: 162px;
  padding: 15px;
}

.fa-arrow-left {
  color: #353535;
  margin-left: 23px;
}

.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 10px;
  background-color: #EAEAEA;
  box-shadow: inset 0px 11px 11px -8px rgba(0, 0, 0, 0.25);
}
.banner p {
  font-weight: 500;
  font-size: 16px;
}

.mainTitle {
  text-align: center;
  padding-bottom: 50px;
  background-color: #F6F6F6;
}
.mainTitle p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 27px;
}

button {
  padding: 15px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  font-family: "Roboto", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  transition: all 450ms;
}
button:hover {
  filter: contrast(100%) brightness(110%) drop-shadow(2px 2px 8px rgb(224, 224, 224));
}

.buttonWrap {
  text-align: center;
  padding-bottom: 40px;
}

.buttonWrap button {
  width: 186px;
  height: 50px;
}

/* fonctionnement*/
.fonctionnement {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 20px;
}
.fonctionnement h2 {
  font-weight: 700;
  font-size: 1.4rem;
  width: 100%;
  margin-top: 45px;
  padding-left: 10px;
  margin-bottom: 26px;
}

.functionStep {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: #F6F6F6;
  margin-bottom: 1.25rem;
  border-radius: 1.25rem;
  width: 322.49px;
  height: 72.49px;
  position: relative;
}
.functionStep span {
  background-color: #9356DC;
  color: #fff;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  left: -4%;
  position: absolute;
}

.fa-store {
  color: #9356DC;
}

/* card resto */
.restaurants {
  background-color: #EAEAEA;
  padding: 20px 20px;
}
.restaurants h2 {
  font-weight: 700;
  font-size: 1.4rem;
  margin-left: 3px;
  margin-bottom: 20px;
}

.cardResto {
  position: relative;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-bottom: 40px;
}
.cardResto img {
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 220px;
}
.cardResto span {
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  width: 80px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  top: 0;
  right: 0;
  margin-top: 20px;
  margin-right: 30px;
}

.textCard {
  background-color: #fff;
  margin-top: -4px;
  padding: 10px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 75px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.textCard .titreCardPetit {
  font-weight: 700;
  font-size: 18px;
}
.textCard p {
  font-weight: 300;
  font-size: 1.063rem;
}

/* heart icon code */
.heartWrap input[type=checkbox] {
  display: none;
}

.fa-heart {
  font-weight: 500;
}

.heartWrap input[type=checkbox]:checked ~ i {
  font-weight: 900;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* heart icon code */
.cardTitle {
  display: flex;
  justify-content: space-between;
}

.fa-heart {
  margin-top: 8px;
  margin-right: 10px;
}

footer {
  background-color: #353535;
  color: #fff;
  padding: 20px;
}
footer img {
  filter: invert(100%) sepia(54%) saturate(2%) hue-rotate(34deg) brightness(114%) contrast(101%);
  width: 137px;
  height: 27px;
  margin-bottom: 20px;
}
footer ul li {
  margin-bottom: 15px;
}

.fa-utensils,
.fa-handshake-angle {
  margin-right: 10px;
}

functionStepWrap {
  width: 100%;
  display: flex;
}

@media screen and (min-width: 1024px) {
  header,
  .mainTitle {
    width: 100%;
    margin: 0 auto;
  }
  .banner {
    box-shadow: none;
  }
  .fonctionnement {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px auto;
    padding: 0;
    background-color: #fff;
  }
  .fonctionnement h2 {
    max-width: 1100px;
    margin: 30px auto;
  }
  .functionStepWrap {
    display: flex;
    max-width: 100%;
  }
  .functionStep {
    width: 20.156rem;
    position: relative;
    margin-right: 20px;
    margin-left: 20px;
  }
  .functionStep span {
    left: -13px;
  }
  .restaurants {
    width: 100%;
    padding: 0;
  }
  .restaurants h2 {
    max-width: 1100px;
    margin: 30px auto;
    padding: 30px 0 0 10px;
  }
  .cardRestoWrap {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 10px 0 10px;
  }
  .cardResto {
    width: 31.166rem;
  }
  footer {
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: row-reverse;
    align-items: end;
  }
  footer ul {
    display: flex;
    justify-content: space-around;
    margin-right: 35px;
  }
  footer ul li {
    margin-right: 10px;
  }
  footer img {
    margin-top: 8px;
  }
  .spinner {
    margin-top: 1000px;
  }
  .loading img {
    margin-top: 1000px;
  }
}
@media only screen and (min-width: 550px) and (max-width: 1024px) {
  .cardRestoWrap {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 10px 0 10px;
  }
  .restaurants h2 {
    margin-left: 6px;
  }
  .cardResto {
    position: relative;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-bottom: 40px;
    width: 50%;
    padding: 20px;
  }
  .spinner {
    margin-top: 550px;
  }
  .loading img {
    margin-top: 1000px;
  }
}
@media only screen and (max-width: 549px) {
  .cardResto {
    width: 100%;
  }
}
@media only screen and (max-width: 350px) {
  .functionStep {
    width: 280.49px;
  }
}
/*------------------- Menus Styles ----------------------*/
header {
  background-color: #fff;
}

.headerMenu {
  display: flex;
  align-items: center;
}
.headerMenu img {
  margin-right: auto;
  margin-left: -40px;
}
.headerMenu a {
  margin-right: auto;
}

.MenuImage {
  width: 100%;
  height: 290px;
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
  background-position: center right;
}

.MenuImageTwo {
  width: 100%;
  height: 290px;
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: cover;
  background-position: center right;
}

.MenuImageThree {
  width: 100%;
  height: 290px;
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.MenuImageFour {
  width: 100%;
  height: 290px;
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: cover;
  background-position: center right;
}

.menuMain {
  background-color: #F6F6F6;
  padding: 0 13px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  position: relative;
  bottom: 50px;
  max-width: 1055px;
  margin: 0 auto -50px auto;
}

.tiTleMenu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tiTleMenu H1 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 28px;
  margin: 30px 0 20px 0;
}

.repas {
  max-width: 634px;
  margin: 0 auto;
}

.titleMinRepas {
  font-weight: 300;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
}

hr {
  border: 1px solid #99E2D0;
  width: 40px;
  margin-right: 100%;
}

/*------------------- Menu check ----------------------*/
.menuLine {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
  padding-left: 5px;
  background-color: white;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 2px 4px 15px #dedede;
  transition: 300ms ease-in-out;
}

.menuText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  padding: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuText p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 300;
  font-size: 15.04px;
}

.menuText h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menuPrice {
  display: flex;
  align-items: flex-end;
  height: 90%;
  margin-bottom: 20px;
}

.menuIcon {
  height: 100%;
  background-color: #99e2d0;
  width: 4em;
  margin-right: -4em;
  margin-left: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.8s;
}

.fa-circle-check {
  width: 20px;
  height: 20px;
  color: white;
}

.menuLine:hover .menuIcon {
  margin-right: 0em;
}

/*------------------- animations ----------------------*/
.menuOne {
  animation: menu-load 600ms ease-in 100ms;
  margin-bottom: 52px;
}

.menuTwo {
  animation: menu-load 900ms ease-in 100ms;
  margin-bottom: 52px;
}

.menuThree {
  animation: menu-load 1200ms ease-in 100ms;
  margin-bottom: 40px;
}

@keyframes menu-load {
  0% {
    transform: translateY(-40%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.loading {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  opacity: 100%;
  position: absolute;
  z-index: 5;
  align-items: center;
  animation: load 2s ease-out 1 forwards;
}
.loading .spinner {
  height: 120px;
  width: 120px;
  border: 8px solid;
  border-color: white transparent white transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
  margin-bottom: 1750px;
  position: fixed;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading img {
  margin-bottom: 1500px;
  filter: invert(100%) sepia(54%) saturate(2%) hue-rotate(34deg) brightness(114%) contrast(101%);
  position: fixed;
  animation: blink 0.9s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
@keyframes load {
  0% {
    opacity: 100%;
  }
  65% {
    opacity: 85%;
  }
  80% {
    opacity: 75%;
  }
  95% {
    opacity: 0%;
    z-index: 100;
  }
  100% {
    z-index: -200;
    opacity: 0;
    display: none;
  }
}/*# sourceMappingURL=style.css.map */
