$main-violet:#9356DC;
$main-blue:#003A68;
$main-skyBlue:#89C8FA;
$main-green:#008766;
$main-turquoise: #99E2D0;
$back-grey: #F6F6F6; 
$back-darkGrey:#EAEAEA; 
$main-font:'Roboto', sans-serif;
$alternative-font:'Shrikhand', cursive;
$main-gradient:linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);